__pycache__/
.DS_Store

quora_question_search/quora_question_pairs_rus.csv

quora_question_search/model_word2vec/meta.json
quora_question_search/model_word2vec/model.bin
quora_question_search/model_word2vec/model.txt

quora_question_search/model_fasttext/meta.json
quora_question_search/model_fasttext/model.model
quora_question_search/model_fasttext/model.model.vectors_ngrams.npy
quora_question_search/model_fasttext/model.model.vectors_vocab.npy
quora_question_search/model_fasttext/model.model.vectors.npy

quora_question_search/search_engine/quora_question_pairs_rus.db
quora_question_search/search_engine/tfidf_matrix.npy
quora_question_search/search_engine/bm25_matrix.npy
quora_question_search/search_engine/word2vec_matrix.npy
quora_question_search/search_engine/fasttext_matrix.npy
