__pycache__/
.DS_Store

quora_question_search/quora_question_pairs_rus.csv

quora_question_search/search_engine/quora_question_pairs_rus.db
quora_question_search/search_engine/tfidf_matrix.npy
quora_question_search/search_engine/bm25_matrix.npy
