__pycache__/
.DS_Store

quora_question_search/quora_question_pairs_rus.csv
quora_question_search/quora_question_pairs_rus.db
quora_question_search/tfidf_matrix.npz
quora_question_search/bm25_matrix.npz
quora_question_search/word2vec_matrix.npy
quora_question_search/fasttext_matrix.npy
quora_question_search/elmo_matrix.npy
quora_question_search/bert_matrix.npy
quora_question_search/logs.log

quora_question_search/model_word2vec/meta.json
quora_question_search/model_word2vec/model.bin
quora_question_search/model_word2vec/model.txt

quora_question_search/model_fasttext/meta.json
quora_question_search/model_fasttext/model.model
quora_question_search/model_fasttext/model.model.vectors_ngrams.npy
quora_question_search/model_fasttext/model.model.vectors_vocab.npy
quora_question_search/model_fasttext/model.model.vectors.npy

quora_question_search/model_elmo/options.json
quora_question_search/model_elmo/model.hdf5
quora_question_search/model_elmo/vocab.txt.gz

quora_question_search/model_bert/bert_config.json
quora_question_search/model_bert/bert_model.ckpt.data-00000-of-00001
quora_question_search/model_bert/bert_model.ckpt.index
quora_question_search/model_bert/vocab.txt
